#if (!$contentVM)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">    	
<html>
	<head>
		<title>LSF</title>
		<link rel="stylesheet" type="text/css" href="$!StyleSheet">
			#parse ("header.vm")
	</head>
	<body class="background">
		#parse("head.vm")
		#parse("Controls.vm")
		#if (${servlet.type} && (${servlet.type} == "0" || ${servlet.type} == "5") && $Login && !$Login.trim().equals(""))
			#parse("wlogin/LoginInfo.vm")
		#end
#end

#set($errorElementForMandatory = $import.getChild("application").getChild("pluginReturn").getChild("errorElementForMandatory"))
#set($errorElementForCheck = $import.getChild("application").getChild("pluginReturn").getChild("errorElementForCheck"))
#set($valueElement = $import.getChild("application").getChild("pluginReturn").getChild("valueElement"))
#set($printLink = $import.getChild("application").getChild("pluginReturn").getChild("printLink"))

<h1>$lang.docAppHeader</h1>
#if($printLink)
	#set($printLink = $printLink.getValue())
#else
	#set($printLink = "${servlet.SERVLETURL}?${servlet.QUERYSTRING}")
#end
<form action="$printLink" method="post">
#if(!$errorElementForCheck && !$errorElementForMandatory && $valueElement)
	$lang.docAppConfirm
	##XMLOut($valueElement)
	#foreach($item in $valueElement.getChildren())
		#if($item.getName().startsWith("app_") && !$item.getName().equals("app_button") && !$item.getName().startsWith("app_where_") && !$item.getName().startsWith("app_fh_") && !$item.getName().startsWith("app_when_"))
			<input name="$item.getName()" type="hidden" value="$item.getValue()" />
		#end
	#end
	#foreach($item in $valueElement.getChild("degrees").getChildren())
		#set($id = $item.getAttributeValue("id"))
		<input name="app_degree_$id" type="hidden" value="$item.getChildText("degree")" />
		<input name="app_when_$id" type="hidden" value="$item.getChildText("when")" />
		<input name="app_where_$id" type="hidden" value="$item.getChildText("where")" />
		<input name="app_fh_$id" type="hidden" value="$item.getChildText("fh")" />
	#end
	<div>
		<button type="submit" class="submit4" style="margin-top:5px;" name="app_print" value="print">$lang.docAppPrint</button>
	</div>
#else
	<div id="tabs">
	  <ul>
	    <li><a href="#tabs-1">$lang.docAppTabPersData</a></li>
	    <li><a href="#tabs-2" style="white-space: normal;">$lang.docAppTabOffice</a></li>
	    <li><a href="#tabs-3" style="white-space: normal;">$lang.docAppTabDegree</a></li>
	    <li><a href="#tabs-4" style="white-space: normal;">$lang.docAppTabPromo</a></li>
	    <li><a id="tabs-5-register" href="#tabs-5" style="white-space: normal; display: none;">$lang.docAppTabMed</a></li>
	  </ul>
	  #set ($webPath = "publish/pmodul/vm/graduate/application")
	  #set($labelStyle = "width: 240px; display: inline-block; text-align: right; padding-right: 5px;")
	  #set($inputStyle = "width: 330px;")
	  #set($divStyle = "padding: 0px 0px 5px 0px;")
	  #set($selectStyle = "padding: 0px 0px 0px 0px; margin: 0em 0em 0em -4px; width: 334px;")
	  #set($selectStyleGrid = "margin-left: 0px; width: 200px;")
	  <div id="tabs-1">
	  	#parse("$webPath/applicationTab1.vm")
	  </div>
	  <div id="tabs-2">
	    #parse("$webPath/applicationTab2.vm")
	  </div>
	  <div id="tabs-3" style="overflow: auto;">
	    #parse("$webPath/applicationTab3.vm")
	  </div>
	  <div id="tabs-4">
	    #parse("$webPath/applicationTab4.vm")
	  </div>
	  <div id="tabs-5">
	    #parse("$webPath/applicationTab5.vm")
	  </div>
	  #if($errorElementForCheck)
		<div class="ui-state-error" style="padding: 5px;">
		  $errorElementForCheck.getChildText("ERROR")
		</div>
	  #end
	</div>
	<div>
		<button type="submit" class="submit4" style="margin-top:5px;" name="app_button" value="sended">$lang.docAppSubmit</button>
	</div>
#end
</form>
<script type="text/javascript" src="${servlet.SERVER_URL}${servlet.PUBURLROOT}jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src='${servlet.SERVER_URL}${servlet.PUBURLROOT}js/jquery-ui-1.11.2/jquery-ui.js'></script>
<script type="text/javascript" src="${servlet.SERVER_URL}${servlet.PUBURLROOT}js/application_HalleDoc.js"></script>

#if (!$contentVM)
		#parse("foot.vm")
	</body>
</html>
#end
